[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=oughtasave
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Oughtasave
Comment=Autosave, as it oughtasave.
